@use './../helpers/variables/structure' as structure;

:root{
  --body-background: #{structure.$color_white};
  --default-font-color: #{structure.$color_black};
  --default-font-size: #{structure.$font_size};
  --default-font-weight: #{structure.$font_weight};
  --default-font-family: #{structure.$font_family};
  --default-line-height: #{structure.$font_line_height};

  --hyperlink-color: #{structure.$color_blue};
  --hyperlink-hover-color: #{structure.$color__light_blue};
  --hyperlink-focus-color: #{structure.$color_blue};
  --hyperlink-visited-color: #{structure.$color_blue};
  --hyperlink-active-color: #{structure.$color_blue};
}