a{
  color: var(--hyperlink-color);
  font-size: 1em;
  text-decoration: none;
  &:hover{
    color: var(--hyperlink-hover-color);
    text-decoration: none;
  }
  &:focus{
    color: var(--hyperlink-focus-color);
    text-decoration: none;
  }
  &:visited{
    color: var(--hyperlink-visited-color);
    text-decoration: none;
  }
  &:active{
    color: var(--hyperlink-active-color);
    text-decoration: none;
  }
}