$color_white: #ffffff;
$color_black: #000000;
$font_size: 15px;
$font_weight: normal;
$font_family: Arial, sans-serif;
$font_line_height: 1.2em;

$color_blue: #000069;
$color__light_blue: #2f2fa4;