@use './../variables/blocks' as blocks;

@mixin container($type: ''){
  @if $type == '' {
    width: blocks.$container_width;
    padding-left: blocks.$container_padding;
    padding-right: blocks.$container_padding;
    margin-left: auto;
    margin-right: auto;
  } @else {
    width: calc(100% - 2 * #{blocks.$container_padding});
    padding-left: blocks.$container_padding;
    padding-right: blocks.$container_padding;
    margin-left: auto;
    margin-right: auto;
  }
}